<button type="button" (click)="setHabilitar()" >{{(habilitar ? 'Desabilidar' : 'Habilitar')}}</button>
<div class="card">
    <div class="card-header">
        Listado de cursos
    </div>
    <ul class="list-group" *ngIf="habilitar" >
        <li class="list-group-item" *ngFor="let curso of listaCursos" >{{curso}}</li>
    </ul>
</div>