<div class="card text-white mb-3" >
    <div class="card-header">Clientes</div>
    <div class="card-body">
      <h5 class="card-title">Todos los clientes</h5>
      <div class="my-2 text-lef">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']" >Crear cliente</button>
      </div>

      <div class="alert alert-info" *ngIf="clientes?.length==0">
        No hay registros en la base de datos!
      </div>
      <table class="table table-bordered table-striped text-primary" *ngIf="clientes?.length>0">
          <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Fecha</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes" >
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.createAt}}</td>
                <td>
                  <button type="button" name="editar" [routerLink]="[ '/clientes/form', cliente.id ]" class="btn btn-primary">Editar</button>
                </td>
                <td>
                  <button type="button" name="eliminar" class="btn btn-danger" (click)="delete(cliente)" >Eliminar</button>
                </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>